@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');



html {
  height: 100%;
  width: 100%;
}
header{
  text-align:center;
  margin:0px;
  padding:10px;
  background: #784A8E;
  color:#801515;
  border:8px groove #270339;
  font-size:75px;
  font-family: 'Dancing Script';
  
}
nav{
  text-align:center;
  background:mediumpurple;
}
main{
  display:flex;
}
main section{
  width:58%;
  padding:2%;
  border:5px groove #401255;
  
}
main aside{
  width:38%;
  padding:2%;
 
  border:5px groove #B8C9F2;
}
article{
  background:#550000;
  padding:20px;
  
}
p{
  color:white;
}

.button {
  background-color: darkblue;
  display: inline-block;
  margin: 2px;
  width: 300px;
  text-align: center;
  font: 25px timesnewroman;
  border-radius: 30px;
  color:#4064B8;
  border: rebeccapurple dashed;
}
.button:hover{
  color:#4064B8;
  background-color: #B8C4F2;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
